[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'

[packages]
biopython = '*'
networkx = '*'
pydot = '*'
matplotlib = '==3.2.*'
shapely = '*'
numpy = '*'

[dev-packages]
coverage = '*'
flake8 = "*"
pyinstaller = "*"
