[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'

[packages]
biopython = '*'
networkx = '*'
pydot = '*'
# Pyinstaller doesn't work with matplotlib 3.3.0
# https://github.com/pyinstaller/pyinstaller/pull/5006
# TODO: change to matplotlib = '*' after fix is released
matplotlib = '==3.2.*'
shapely = '*'
numpy = '*'

[dev-packages]
coverage = '*'
flake8 = "*"
# Correctly locate macos python.org built-in tcl/tk
# https://github.com/pyinstaller/pyinstaller/pull/5010
# TODO: change to pyinstaller = '*' after fix is released
pyinstaller = {editable = true, git = "https://github.com/ssantichaivekin/pyinstaller.git", ref = "tcl-tk-macos-bugfix-frozen"}
