[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'

[packages]
biopython = '*'
networkx = '*'
pydot = '*'
matplotlib = '*'
shapely = '*'
numpy = '*'

[dev-packages]
coverage = '*'
flake8 = "*"
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}
pefile = {version = "*", sys_platform = "== 'win32'"}
pyinstaller = "*"
